* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	text-align: center;
  background-color: #232323;
  color: white;
}

section {
	padding: 20px;
}

header {
	height: 300px;
	background-color: #496889;
}

p {
	font-size: 25px;
}

h1 {
	padding: 100px;
}

a {
	color: #b6b099;
}
a:hover {
	color: #d5b83a;
}

.a {
	width: 150px;
	height: 150px;
	background-color: #496889;
	border-radius: 20px;
	margin: auto;
	padding: 5px;
}

.b {
	width: 100px;
	height: 100px;
	background-color: #232323;
	border-radius: 20px;
	margin: auto;
	padding: 5px;
	color: black;
	font-size: 22px;
	font-style: bold;
}

.c {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 10px;
	margin: auto;
	padding: 5px;
}

.spacing {
	padding: 20px 5px;
}

.bg {
	width: 350px;
	height: 350px;
	background-color: #496889;
	border-radius: 20px;
	margin: auto;
	padding: 5px;
	margin: 50px;
}

@media only screen and (min-width: 768px) {
  .bg {
	width: 150px;
	height: 150px;
	background-color: #496889;
	border-radius: 20px;
	padding: 5px;
	}
}

.cube {
	position: relative;
	width: 250px;
	height: 250px;
	background-color: #232323;
	border-radius: 20px;
	top: 125px;
	padding: 5px;
}

@media only screen and (min-width: 768px) {
  .cube {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #232323;
	border-radius: 20px;
	top: 125px;
	padding: 5px;
	}
}

.cube-mini {
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #496889;
	border-radius: 10px;
	padding: 5px;
	top: 50px;
	left: 50px;
}

@media only screen and (min-width: 768px) {
  .cube-mini {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #496889;
	border-radius: 10px;
	padding: 5px;
	top: 25px;
	left: 25px;
	}
}

.box {
	margin: auto;
	width: 800px;
}

.animate {
	animation: animate linear 5.5s;
	animation-iteration-count: infinite;
}

.moveUp {
	animation: moveUp linear 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.moving {
	animation: moving linear 2.5s;
	animation-iteration-count: infinite;
}

.rotate {
	animation: rotate linear 3s;
	animation-iteration-count: infinite;
}
/*----------------------------------------RESPONSIVE-----------------------------------------*/
@media only screen and (max-width: 768px) {
  [class*="col-"] {
  width: 100%;
  }
}


[class*="col-"] {
  width: 100%;
  }

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
  }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
	.hide {
		display: none;
	}
}

/*---------------------------------------ANIMATIONS------------------------------------------*/
@keyframes moveUp {
	0% {
		margin-top: 0;
	}
	100% {
		margin-top: 40px;
	}
}

@keyframes moving {
	0% {
		top: 0;
		left: 30px;
	}
	25% {
		top: 0;
		left: -30px;
	}
	50% {
		top: 60px;
		left: -30px;
	}
	75% {
		top: 60px;
		left: 30px;
	}
	100% {
		top: 0;
		left: 30px;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate {
	0% {
		top: 0;
		left: 100px;
	}
	25% {
		top: 800px;
		left: 100px;
	}
	50% {
		top: 1565px;
		left: 100px;
	}
	75% {
		top: 800px;
		left: 100px;
	}
	100% {
		top: 0;
		left: 100px;
	}
}

@media only screen and (min-width: 768px) {
  @keyframes animate {
	0% {
		top: 175px;
		left: -50px;
	}
	25% {
		top: 175px;
		left: 1200px;
	}
	50% {
		top: 470px;
		left: 1200px;
	}
	75% {
		top: 470px;
		left: -50px;
	}
	100% {
		top: 175px;
		left: -50px;
	}
}
	
@media only screen and (min-width: 992px) {
  @keyframes animate {
	0% {
		top: 175px;
		left: -50px;
	}
	25% {
		top: 175px;
		left: 800px;
	}
	50% {
		top: 470px;
		left: 800px;
	}
	75% {
		top: 470px;
		left: -50px;
	}
	100% {
		top: 175px;
		left: -50px;
	}
}
